* {
  color: #fff;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url(../assets/bg1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: relative;
}


body.luke-skywalker-person {
  background-image: url(../assets/luke-skywalker.png);
}

body.c-3po-person {
  background-image: url(../assets/c-3po.png);
}

body.r2-d2-person {
  background-image: url(../assets/r2-d2-bg.png);
}

body.darth-vader-person {
  background-image: url(../assets/darth-vader.png);
}

body.leia-organa-person {
  background-image: url(../assets/leia-organa.png);
  background-position-y: -50px !important;
}

body.owen-lars-person {
  background-image: url(../assets/owen-lars.png);
}

body[class*='-person'] {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -20px;
}

.darth-vader-person a:hover,
.darth-vader-person a[class*="active"] {
  color: red !important;
}

.darth-vader-person a::after {
  background-color: red !important;
}

.luke-skywalker-person a:hover,
.luke-skywalker-person a[class*="active"] {
  color: greenyellow !important;
}

.luke-skywalker-person a::after {
  background-color: greenyellow !important;
}

body[class*='person'] .container {
  background-color: #fff;
  margin-top: 20rem;
  min-height: 500px;
  max-width: 1000px;
  padding: 0;
  box-shadow: 0 0 10px 0 #000;

}

body.luke-skywalker-person::-webkit-scrollbar-thumb {
  background-color: greenyellow !important;
}

body.darth-vader-person::-webkit-scrollbar-thumb {
  background-color: red !important;
}



body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #45a6ef;
  border-radius: 20px;
}

h1,
h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  margin: 0;
}


#page {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.55;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  min-height: calc(100vh - 236px);
}

.redes ul,
.routes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0rem;
  background-color: transparent;
  color: #fff;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}

header a {
  position: relative;
}

header a:not(.logo):hover {
  color: #45a6ef;
}

header a:not(.logo):hover::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #45a6ef;
  border-radius: 10px;
  animation: kf1 .3s ease-in-out;
  position: absolute;
  bottom: -3px;
  left: 0;
}

header a:not(.logo)[class*='active'] {
  color: #45a6ef;
}

header a:not(.logo)[class*='active']::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #45a6ef;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  position: absolute;
  bottom: -3px;
  left: 0;
}

footer {
  height: 60px;
  width: 100vw;
  background-color: #000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  position: relative;
  bottom: 0;
  z-index: 2;

}

#logo {
  background-image: url(../assets/star-wars.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 125px;
  text-indent: -9999px;
  aspect-ratio: 2/1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container .content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 715px;
  padding: 1rem;
  gap: 1rem;
  background-color: transparent;
  grid-column: 1 / 3;
  color: #fff;
  z-index: 1;
}

.home {
  overflow: hidden;
}

.home .swiper-slide-active {
  animation: opacityTransition 2s ease-in-out;
  opacity: 1;
}

.home .swiper-slide:not(.swiper-slide-active) {
  opacity: 0;
  visibility: hidden;
  animation: opacityTransition 2s ease-in-out;
}

#home section {
  min-height: 700px;
}

.container .content-text button {
  background-color: rgb(69, 166, 239);
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
}

#home.container img {
  max-width: 100%;
  height: auto;
  object-fit: none;
  overflow: visible;
  z-index: 0;
  position: relative;
  transform: translate(270px, 160px);
  ;
}

#home #about {
  width: 100%;
  padding: 3rem;
  z-index: 1;
  position: relative;
}

#home #video-section {
  width: 100%;
  margin: 3rem 0;
  padding: 1.5rem;
  z-index: 1;
  position: relative;
  gap: 1rem;
}

#home #video-section iframe {
  grid-column: 1/3;
}

main {
  margin: 20px 0;
}

.loading {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f00;
  border-color: #f00 transparent #f00 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

#personagem-list-cp ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

#personagem-list-cp ul li {
  width: 18%;
  aspect-ratio: 1/1;
}

#personagem-list-cp ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  opacity: 0.7;
}

#personagem-list-cp ul li a:hover {
  opacity: 1;
  transition: all .3s;
}

#personagem-list-cp ul li img {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: auto;
  aspect-ratio: 1/2;
  border: 2px solid #fff;

}

[class*='-person'] .container {
  position: relative;
}

[class*='-person'] .container .bk-home {
  position: absolute;
  top: -30px;
  left: 0;
  color: #fff;
}



.bk-home::before {
  content: "<<";
}

[class*='-person'] .container * {
  color: #000;
}

[class*='-person'] .container h2 {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
}

[class*='-person'] .person-detail.grid {
  grid-template-columns: 1fr 1fr;

}

[class*='-person'] .person-detail h2 {
  display: block;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #b0afaf;
  padding: 1rem;
  max-height: 5rem;
  border-right: 0.5px solid #b0afaf;
}

[class*='-person'] .person-detail .person-img {
  border-right: 1px solid #000;
}

[class*='-person'] .person-detail .person-img img {
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  display: block;
}

[class*='-person'] .person-detail .info-person ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

[class*='-person'] .person-detail .mv-person {
  grid-column: 2;
}

.swiper-initialized {
  position: relative;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  top: 270px !important;
  right: 0 !important;
}

.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #fff;
}

.swiper-slide section {
  position: relative;
}

.swiper-slide:not([data-swiper-slide-index="2"]) section::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50.2%;
  width: 20px;
  height: 20px;
  border-left: 2px #fff solid;
  border-bottom: 2px #fff solid;
  transform: rotate(315deg);
  animation: animaarrow 1.5s infinite;
  opacity: 0;

}

.swiper-slide:not([data-swiper-slide-index="2"]) section::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 8px;
  left: 50%;
  width: 25px;
  height: 25px;
  border-left: 2px #fff solid;
  border-bottom: 2px #fff solid;
  transform: rotate(315deg);
  animation: animaarrow 1.5s infinite;
  opacity: 0;

}

.starships .swiper>.swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.starships .swiper>.swiper-wrapper a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  opacity: 0.5;
  transition: all .3s;
}

.starships .swiper>.swiper-wrapper a:hover {
  opacity: 1;
  transition: all .3s;
}

.starships .swiper>.swiper-wrapper a:hover img {
  transform: scale(1.3);
  transition: all .3s;
}

.starships .swiper {
  overflow: visible;
}

/* KEYFRAMES */
@keyframes kf1 {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacityTransition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animaarrow {
  from {
    opacity: 0;
    transform: translateY(-20px) rotate(315deg);
  }

  to {
    opacity: 1;
    transform: translateY(25px) rotate(315deg);
  }
}

/* Path: swapi-app/src/css/estilo.css */